html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, ul, li
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    overflow: hidden;
}

.container {
    padding: 1rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    box-sizing: border-box;
    width: 50%;
    background-color: #d3d888;
    border-radius: 5px;
    padding: 4rem 2rem;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accordion__radio {
    display: none;
}

.accordion__label {
    display: flex;
    padding: 0.6rem 0;
    font-weight: 800;
    color: rgb(95, 95, 224);
    transition: width 300ms, height 300ms, opacity 300ms;
    transition-delay: 500ms;
}

.accordion__label__icon {
    content: '';
    display: inline-block;
    margin-left: auto;
    background-image: url('/assets/icons/icon-cross.png');
    background-position: center;
    width: 0; 
    height: 0;
    transition: width 200ms, height 200ms;
    transition-delay: 250ms;
} 

.accordion:hover .accordion__label {
    color: rgb(0, 0, 0);
}

.accordion:hover .accordion__label__icon {
    transition: width 300ms, height 300ms, opacity 300ms;
    transition-delay: 500ms;
    width: 1.375rem;
    height: 1.375rem;
}

hr {
    border-top: 0.03rem solid rgba(102, 102, 102, 0.526);
    border-bottom: 0;
    margin: 0;
}

.meme__content {
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 300ms, height 300ms, opacity 300ms;
    transition-delay: 500ms;
}

/* .accordion__radio ~ .meme__content {
    width: 0;
    height: 0;
    transition: width 500ms, height 500ms;
    transition-delay: 250ms;
} */
 
.accordion__radio:checked ~ .meme__content {
    width: 30%;
    height: 30%;
    opacity: 1;
    transition: width 300ms, height 300ms, opacity 300ms;
    transition-delay: 500ms;
} 

/* .accordion__label ~ .meme__content {
    width: 0;
    height: 0;
    opacity: 0;
    transition: width 300ms, height 300ms, opacity 300ms;
    transition-delay: 500ms;
} */

.accordion__label:hover ~ .meme__content {
    width: 30%;
    height: auto;
    opacity: 1;
    transition: width 300ms, height 300ms, opacity 300ms;
    transition-delay: 500ms;
}

.accordion__radio:checked ~ .accordion__label__icon {
    transform:rotate(0.125turn);
}